<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.apptitude"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>APP-titude</name>

  <description>
      Hone your quantitative and verbal skills!
  </description>

  <author href="https://build.phonegap.com" email="mangrushadiyah@gmail.com">
      Shadiyah Mangru
  </author>
  <content src="index.html" />

</widget>
